.required {
	color: red;
}

.required-hidden {
	display: none !important;
}

.form-control-no-border {
	border-top-style: hidden !important;
	border-right-style: hidden !important;
	border-left-style: hidden !important;
	border-bottom-style: groove !important;
	background-color: #eee !important;
	border-width: 0px !important;
	border: none !important;
}

.form-control-no-border:focus {
	outline: none !important;
}

.select-no-arrow {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: "";
}

.read-only {
	pointer-events: none;
}

.image-upload label {
	display: block;
}

.image-upload img {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: black;
	border-radius: 100px;
}

.image-upload input {
	margin-top: 10px;
}

.sub-form {
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
}
